
<button class="boton enviar" type="submit">Enviar</button>
<style>
    .boton {
    display: block;
    background-color: #2167a1;
    color: rgb(255, 255, 255);
    border-radius: 2rem;
    border: 2px solid #2167a1;
    padding: 1rem 2rem;
    margin: 4rem auto;
    font-size: 1rem;
    text-transform: uppercase;
    align-self: center;

    cursor: pointer;
}

</style>