---
import Header from "./Header.astro";
import Index from "../pages/index.astro";
---

<a href="/">
<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 1024 1024"><!-- Icon from Element Plus by Element Plus - https://github.com/element-plus/element-plus-icons/blob/main/packages/svg/package.json --><path fill="#333" d="M609.408 149.376L277.76 489.6a32 32 0 0 0 0 44.672l331.648 340.352a29.12 29.12 0 0 0 41.728 0a30.59 30.59 0 0 0 0-42.752L339.264 511.936l311.872-319.872a30.59 30.59 0 0 0 0-42.688a29.12 29.12 0 0 0-41.728 0" class="flecha-inicio"
    /></svg></a>
<style>
.flecha-inicio{
    position: absolute; /* Extrae el SVG del flujo normal */
    top: 0; /* Lo empuja hacia el borde superior */
    left: 0; /* Lo empuja hacia el borde izquierdo */
    margin: 10px; /* Opcional: añade un pequeño espacio desde el borde si lo necesitas */
    z-index: 10; /* Opcional: asegura que esté por encima de otros elementos */
}
</style>