    <div class="intro">
      <img class="intro__img" src="../public/valentina.svg" alt="Valentina Delgado" />
      <h2 class="intro__title">Portfolio.</h2>
      </div>
      <a class="boton__anchor" href="#sobremi">Empecemos!</a></button>
        <style>
            
.intro {
padding-top: 12rem;
padding-bottom: 4rem;
display: flex;
flex-direction: column;
}


.intro__img {
   align-items: center;
}

.intro__title {
    font-family: var(--font-display);
    align-self: center;
    color: #2167a1;
    font-size: 9rem;
    font-style: italic;
    font-weight: 400;
}
    


#portfolio {
width: 20%;
}

#lvd {
width: 100%;
}

.boton {
    display: block;
    background-color: #e8dcca;;
    color: rgb(0, 0, 0);
    border-radius: 2rem;
    border: 2px solid #2167a1;
    padding: 1rem 2rem;
    margin: 4rem auto;
    font-size: 1rem;
    text-transform: uppercase;
    align-self: center;

    cursor: pointer;
}


.subtitle {
color: #2167a1;;
font-weight: bold;
font-size: 3.5rem;
margin-bottom: 2rem;
margin-top: 2rem;
text-transform: uppercase;
justify-self: center;

}

.boton__anchor:hover {
    color: #303030;
    transition: color 500ms ease-in-out;
}



        </style>
