---
---
<div class="intro" id="inicio">
    <img
        class="intro__img"
        src="../public/valentina.svg"
        alt="Valentina Delgado"
    />
    <h2 class="intro__title">Portfolio.</h2>
    <a href="#sobre-mi">
        <svg
            class="svg-flecha"
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            viewBox="0 0 1024 1024"
            ><!-- Icon from Element Plus by Element Plus - https://github.com/element-plus/element-plus-icons/blob/main/packages/svg/package.json -->
            <path
                fill="#333"
                d="M831.872 340.864L512 652.672L192.128 340.864a30.59 30.59 0 0 0-42.752 0a29.12 29.12 0 0 0 0 41.6L489.664 714.24a32 32 0 0 0 44.672 0l340.288-331.712a29.12 29.12 0 0 0 0-41.728a30.59 30.59 0 0 0-42.752 0z"
            ></path></svg
        >
    </a>

<slot />
<style>
    @keyframes moverAbajo {
        from {
            transform: translateY(0); /* Posición inicial en el top */
        }
        to {
            transform: translateY(
                20px
            ); /* Posición final (100px hacia abajo) */
        }
    }

    .svg-flecha {
        display: block;
        margin: auto;
    }
    .svg-flecha:hover{
               animation-name: moverAbajo;
        animation-duration: 1s; /* Duración de la animación */
        animation-timing-function: ease-in-out; /* Curva de aceleración */
        animation-iteration-count: infinite; /* Número de veces que se repite */
    }
    .intro {
        padding-top: 10rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap:1rem;
    }

    .intro__img {
        align-items: center;
    }

    .intro__title {
        
        font-family: var(--font-display);
        align-self: center;
        color: #2167a1;
        font-size: 7rem;
        font-style: italic;
        font-weight: 400;
    }

    #portfolio {
        width: 20%;
    }

    #lvd {
        width: 100%;
    }

</style>
