      <nav class="menu">
        <ul class="menu__opciones">
          <li class="menu-item"><a class="menu-item"href="#sobremi">Sobre Mi</a></li>
          <li ><a href="#mis-trabajos" class="menu-item">Trabajos</a></li>
          <li ><a class="menu-item" href="#contacto">Contacto</a></li>
        </ul>
      </nav>
      </div>

      <style>
        .menu__opciones {
    position: fixed;
    z-index: 1000;
    top: 2rem;
    left: 0;
    right: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    border-radius: 3rem;
    background-color: #d2ceccf0;
    border: 2px solid #3d3d3d;
    margin-top: 2rem;
    font-weight: 500;
    /* centrar el contenedor y sus items */
    margin: auto;      /* centra el contenedor horizontalmente */
    padding: 0 0.5rem; /* corregido */
    justify-content: center; /* centra los .menu-item dentro del contenedor */
    width: 30rem;
    height: 3rem;
    align-items: center;    /* centra verticalmente los .menu-item */
}

.menu-toggle-checkbox {
    display: none;
}


.menu-item {
        color:#303030;
        text-decoration: none;
        text-transform: uppercase;
}

.menu-item:hover {
    color: #000;
    transition: color 500ms ease-in-out;
}

      </style>